body{
    background-color: rgb(34, 31, 34);
    font-family: 'Roboto', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 21px;
    color:rgb(249, 240, 255);
}
h2{
    min-width: 35px;
}
h1{
    min-width:48px;
}
span{
    font-size:21px;
    margin-top:10px;
}
button{
    font-size:21px;
}
.bigBox{
    width:100%;
    margin: 0px auto;
}
#fullPageContainer{
    width:100%;
    position: absolute; /* Position the container element absolutely */
    top: 50%; /* Move the container element down by 50% of its height */
    left: 50%; /* Move the container element right by 50% of its width */
    transform: translate(-50%, -52%); /* Translate the container element up by 50% of its height and left by 50% of its width */
}
#fullScreenImg{
    display:none;
    position:relative;
    margin: 0 auto;
    width: 20%;
}
#displayImg{
    display:none;
    position: relative;
    margin: 0 auto;
}

#instrText{
    position: relative;
    width:50%;
    margin:25px auto;
    text-align: center;
}

#mockRating{
    position:relative;
    display:none; justify-content: center; align-items: center;
    /*border: 2px dashed #000;*/
    width:100%;
    margin: 60px auto;
}
.myButtons{
    display: block;
    position: relative;
    margin: 25px auto;
    width: 200px;
    height: 50px;
    line-height: 35px;
    text-align: center;
    border-radius: 10px;
    background: #5d5663;
    color:rgb(249, 240, 255);
    cursor: pointer;
    border-width:0;
}

.myButtons:hover{
    background-color: #988f9c;
}

#instrQuiz{
    display:none;
}

.choices{
    display: block;
    position: relative;
    margin: 10px auto;
    padding: 7px;
    width: 80%;
    border-radius: 8px;
    background: rgb(134, 107, 145);
    cursor: pointer;
}

#questionTitle{
    text-align: center;
    margin: 50px auto;
}

#quizWarn{
    display: none;
    text-align: center;
    margin:50px auto;
}

#consentBox{
    display:none;
    background-color:rgba(143, 134, 160, 0.618);
    width: 45%;
    height: 300px;
    overflow: auto;
    border: 2px dashed black;
}

#testingArea{ /*thanks ChatGPT*/
    display: flex; justify-content: center; align-items: center;
    width: 600px;
    height: 300px;
    margin:10px auto;
    margin-bottom:30px;
}

#trialPrompt{
    color:rgb(203, 202, 202);
}

#promptAdj{
    color:white;
    font-size:larger;
}
.ratingButton{
    display:inline-block;
    position: relative;
    margin: 10px 5px auto;
    width: 70px;
    height: 70px;
    line-height: 35px;
    text-align: center;
    border-radius: 10px;
    background: #775388;
    color:rgb(249, 240, 255);
    cursor: pointer;
    border-width:0;
}

.ratingButton[value="1"] {
    background:#b5b3b6;
    margin-left:30px;
  }
.ratingButton[value='2']{
    background:#a9a8ab;
}
.ratingButton[value='3']{
    background:#89888a;
}
.ratingButton[value='4']{
    background:#6e6d6e;
}
.ratingButton[value='5']{
    background:#605d5d;
}
.ratingButton[value='6']{
    background:#4c4b4b;
}
.ratingButton[value='7']{
    background:#3d3c3c;
    margin-right:30px;
}
  
.ratingButton:hover{
    border-color:white;
    border-width:3px;
    border-style:solid;
}

#taskImg{ /* how to make all images the same dimension?*/
    display:inline-block;
    max-width: 100%;
    max-height: 300px;
}

#taskBox{
    display:none;
    text-align:center;
    height:100%;
}

#ratingArea{
    position:relative;
    display:flex; justify-content: center; align-items: center;
    /*border: 2px dashed #000;*/
    width:80%;
    margin: 20px auto;
}

#progress{
    text-align:center;
    font-size: 25px;
}

#questionBox{
    position:relative;
    text-align: center;
    display:none;
    height:100%;
}
#questionBox{
    font-size:30px;
}

#questionBox label{
    font-size:24px;
}

#questionBox input[name=age]{
    margin:0px 0px 0px 5px;
}

#problems{
    width:40%;
    height:100px;
}
.small-dim{
    font-size:18px;
    margin-top:0px;
    margin-bottom:20px;
}
.smallContainer{
    display:flex;
    justify-content: center;
}
.warning{
    color:red;
    display:none;
}

#congratsMess{
    width:1000px;
    margin: auto;
    text-align: center;
}

#debriefBox{
    position:relative;
    display:none; justify-content: center; align-items: center;
    flex-direction: column;
    text-align: center;
    width:100%;
    transform: translateY(20%);
}

.divider{
    height: 1px;
    margin: 0 auto;
    width:70%;
    background-color: rgb(77, 76, 76);
}
#expBox{
    width:70%;
    margin: 0 auto;
    text-align:left;
}

#expBox p{
    margin: 5px auto;
}

#endingShortcut{
    position:relative;
}