body{
    background-color: rgb(57, 52, 57);
    font-family: 'Roboto', Calibri, 'Trebuchet MS', sans-serif;
    font-size:1vw;
    color:rgb(249, 240, 255);
}

.bigBox{
    width:100%;
    margin: 0px auto;
}
#fullPageContainer{
    width:100%;
    position: absolute; /* Position the container element absolutely */
    top: 50%; /* Move the container element down by 50% of its height */
    left: 50%; /* Move the container element right by 50% of its width */
    transform: translate(-50%, -52%); /* Translate the container element up by 50% of its height and left by 50% of its width */
}

#displayImg{
    display:none;
    position: relative;
    margin: 0 auto;
}

#instrText{
    font-size:2vw;
    position: relative;
    width:50%;
    margin:50px auto;
    text-align: center;
}

.myButtons{
    display: block;
    position: relative;
    margin: 25px auto;
    width: 200px;
    height: 50px;
    font-size: 1.5vw;
    line-height: 35px;
    text-align: center;
    border-radius: 10px;
    background: #775388;
    color:rgb(249, 240, 255);
    cursor: pointer;
    border-width:0;
}

.myButtons:hover{
    background-color: #9269a5;
}

#instrQuiz{
    display:none;
}

.choices{
    display: block;
    position: relative;
    margin: 10px auto;
    padding: 7px;
    width: 80%;
    font-size:2vw;
    border-radius: 8px;
    background: rgb(134, 107, 145);
    cursor: pointer;
}

h2{
    font-size:2.5vw;
}
#questionTitle{
    text-align: center;
    margin: 50px auto;
}

#quizWarn{
    display: none;
    text-align: center;
    font-size:1.5vw;
    margin:50px auto;
}

#consentBox{
    display:none;
    background-color:rgba(120, 102, 154, 0.618);
    width: 45%;
    height: 300px;
    overflow: auto;
    border: 2px dashed black;
}

#testingArea{ /*thanks ChatGPT*/
    display: flex; justify-content: center; align-items: center;
    width: 600px;
    height: 300px;
    margin:10px auto;
    margin-bottom:30px;
}

.ratingButton{
    display:inline-block;
    position: relative;
    margin: 10px 20px auto;
    width: 125px;
    height: 50px;
    font-size: 1.5vw;
    line-height: 35px;
    text-align: center;
    border-radius: 10px;
    background: #775388;
    color:rgb(249, 240, 255);
    cursor: pointer;
    border-width:0;
}

.ratingButton[value="1"] {
    background:#7e6f85;
  }
.ratingButton[value='2']{
    background:#7a6384;
}
.ratingButton[value='3']{
    background:#765983;
}
.ratingButton[value='4']{
    background:#775388;
}
.ratingButton[value='5']{
    background:#704484;
}
.ratingButton[value='6']{
    background:#6b3784;
}
  
.ratingButton:hover{
    border-color:white;
    border-width:3px;
    border-style:solid;
}

span{
    font-size:larger;
    margin-top:10px;
}

#taskImg{ /* how to make all images the same dimension?*/
    display:inline-block;
    max-width: 100%;
    max-height: 300px;
}

#taskBox{
    display:none;
    text-align:center;
    height:100%;
}

#ratingArea{
    position:relative;
    display:flex; justify-content: center; align-items: center;
    /*border: 2px dashed #000;*/
    width:100%;
    margin: 20px auto;
}

#progress{
    text-align:center;
    font-size: 25px;
}

#questionBox{
    text-align: center;
    display:none;
}
#questionBox p{
    font-size:2vw;
    margin-bottom:10px;
}
#questionBox label{
    font-size:1.5vw;
}

#questionBox input{
    margin:0px 5px 0px 20px;
}

#questionBox input[name=age]{
    margin:0px 0px 0px 5px;
}

.smallContainer{
    display:flex;
    justify-content: center;
}
.warning{
    color:red;
    display:none;
}

#congratsMess{
    width:1000px;
    margin: auto;
    text-align: center;
}

#debriefBox{
    display:none;
}

#expBox{
    margin:50px auto 0px;
    border: 2px solid;
    background-color:rgb(36, 27, 42);
    width: 50%;
    height: 350px;
    overflow: auto;
}